@font-face {
  font-family: "sourceSansRegular";
  src: url("./fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "sourceSansLight";
  src: url("./fonts/SourceSansPro-Light.ttf");
}
@font-face {
  font-family: "sourceSansBold";
  src: url("./fonts/SourceSansPro-Bold.ttf");
}
@font-face {
  font-family: "rubikRegular";
  src: url("./fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: "rubikLight";
  src: url("./fonts/Rubik-Light.ttf");
}
@font-face {
  font-family: "rubikBold";
  src: url("./fonts/Rubik-Bold.ttf");
}

*{
  margin: 0;
  padding: 0;
}
p{
  font-size: 1.6rem;
}
h1{
  font-size: 6rem;
}
.main-container{
  position: relative;
  color: rgb(33, 32, 32);
}
.background-image{
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}
.container{
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top:10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container .top{
  width: 100%;
  margin: 1rem auto;
}
.main-container .description{
  position: relative;
  right: -95%;
  transform-origin: 0 0;
  transform: rotate(270deg);
}
.main-container .bottom{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255,0.2);
}
.bold{
  font-weight: 700;
}
.main-container .search{
  text-align: center;
  padding: 1rem;
}
.main-container input{
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.8);
  background: rgba(255,255,255,0.1);
  color: whitesmoke;
}
::placeholder{
  color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  p{
    font-size: 1.1rem;
  }
  h1{
    font-size: 4.5rem;
  }
  .container{
    height: 500px;
  }
  .main-container .bottom{
    width: 90%;
  }

}